[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    tmp,
    data

per-file-ignores =
    ipython_start.py: E302, F401, F704
    src/*: E125, E128, E129, E252, E701, F401, F841
    tests/create_test_data.py: E252, E402, E701
    tests/*: E125, E252, E265, F401, E501, E701, E741, F821, F841
    tests/individual/*: E252, E402, E701
    scripts/*: E402, E701
